main {
    display: flex;
    justify-content: center;
}

div.data {
    display: flex;
    justify-content:center ;
    flex-wrap: wrap;
}

main > div {
    width: 80%;
    min-width: 300px;
    margin: 5% 0% 7% 0%;
    border: 2px solid #37386733;
    text-align: center;
}

h2 {
    padding: 5%;
    background-color: #AACE9B;
}

div.data div {
    min-width: 40%;
    margin: 0% 3%;
}

div > form {
    display: inline-block;
    padding: 8% 0% 8% 0%;
    box-sizing: border-box;
    width: 100%;
}

div.data input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    min-width: 250px;
    margin: 1px auto 10px auto;
    padding: 10px;
    border: 0.60px solid #37386733;
    border-radius: 3px;
    font-size: 15px;
}

#submit {
    display: block;
    min-width: 250px;
    margin: 12px auto 6px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #AACE9B;
    font-weight: bold;
    font-size: 17px;
    font-weight: bold;
    color: #373867CC;
}