<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Alejandro Santini">
        <meta name="description" content="Trackgenix SA provides 
            software development services to other companies.">
        <meta name="keywords" content="Trackgenix, development, software, 
            desarrollo, software,">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="icon" href="../assets/logo.ico">
        <link rel="stylesheet" 
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
            integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" type="text/css" href="../styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="../styles/styles.css" />
        <link rel="stylesheet" type="text/css" href="../styles/header.css" />
        <link rel="stylesheet" type="text/css" href="../styles/sidebar.css" />
        <link rel="stylesheet" type="text/css" href="../styles/footer.css" />
        <link rel="stylesheet" type="text/css" href="../styles/sign-up.css" />
        <script src="../javascript/sign-up.js"></script>
        <title>Trackgenix</title>
    </head>
    <body class="especify">
        <header>
            <h1>Trackgenix SA</h1>
        </header>
        <main>
            <div>
                <h2>Sign up</h2>
                <form>
                    <div class="data">
                        <div class="box">
                            <label class="error-color" for="name">Name</label>
                            <input id="name" type="text" placeholder="Zoey">
                            <p class="error-message">Name required!</p>
                        </div>
                        <div class="box">
                            <label class="error-color" for="surname">Surname</label>
                            <input id="surname" type="text" placeholder="Smith">
                            <p class="error-message">Surname required!</p>
                        </div>
                        <div class="box">
                            <label class="error-color" for="dni">DNI</label>
                            <input id="dni" type="number" placeholder="0123456">
                            <p class="error-message">DNI required!</p>
                        </div>
                        <div class="box">
                            <label class="error-color" for="birth-date">Birth date</label>
                            <input id="birth-date" type="date" placeholder="mm/dd/yyyy">
                            <p class="error-message">Birth date required!</p>
                        </div>
                        <div class="box">
                            <label class="error-color" for="phone">Phone</label>
                            <input id="phone" type="number" placeholder="0123456789">
                            <p class="error-message">Phone required!</p>
                        </div>
                        <div class="box">
                            <label class="error-color" for="address">Address</label>
                            <input id="address" type="text" placeholder="abcde 0123">
                            <p class="error-message">Address required!</p>
                        </div>
                        <div class="box">
                            <label class="error-color" for="location">Location</label>
                            <input id="location" type="text" placeholder="abcd01">
                            <p class="error-message">Location required!</p>
                        </div>
                        <div class="box">
                            <label class="error-color" for="postal-code">Postal code</label>
                            <input id="postal-code" type="number" placeholder="0123">
                            <p class="error-message">Postal code required!</p>
                        </div>
                        <div class="box">
                            <label class="error-color" for="email">Email</label>
                            <input id="email" type="text" placeholder="example@gmail.com">
                            <p class="error-message">Email required!</p>
                        </div>
                        <div class="box">
                            <label class="error-color" for="password">Password</label>
                            <input id="password" type="password" placeholder="*********">
                            <p class="error-message">Password required!</p>
                        </div>
                        <div class="box">
                            <label class="error-color" for="password2">Repeat password</label>
                            <input id="password2" type="password" placeholder="*********">
                            <p class="error-message">Repeat password is required!</p>
                        </div>
                    </div>  
                    <div>
                        <button id="submit" type="submit">Create</button>
                    </div>
                </form>
            </div>
        </main>
        <aside>
            <nav>
                <form>
                    <div>
                        <input type="search" class="search" placeholder="Search">
                    </div>
                    <a href="login.html" class="login-button-style">Login</a>
                    <a href="sign-up.html" class="sign-up-button-style">Sign up</a>
                </form>
                <div>
                    <h4>Menu</h4>
                    <ul>
                        <li><a href="index.html">Homepage</a></li>
                        <li><a href="index.html#features">Features</a></li>
                        <li><a href="index.html#why-trackgenix">Why trackgenix</a></li>
                        <li><a href="index.html#contact-us">Contact us</a></li>
                    </ul>
                </div>
                <div class="get-in-touch">
                    <h4>Get in touch</h4>
                    <a href="https://www.gmail.com">mailinfo@trackgenix.com</a>
                    <p>123-456789</p>
                    <a  href="https://www.google.com.ar/maps/preview">
                        123 fake road #2000 Rosario, Argentina
                    </a>
                </div>
            </nav>
        </aside>
        <footer>
            <section>
                <h3>Trackgenix</h3>
                <div class="trackgenix-footer">
                    <div class="products">
                        <p>Products</p>
                        <ol>
                            <li>Features</li>
                            <li>Downloads</li>
                            <li>Integrations</li>
                            <li>Extras</li>
                        </ol>
                    </div>
                    <div class="company">
                        <p>Company</p>
                        <ol>
                            <li>About us</li>
                            <li>Clients</li>
                            <li>Resources</li>
                            <li>Blog</li>
                        </ol>
                    </div>
                    <div class="suport">
                        <p>Suport</p>
                        <ol>
                            <li>Help</li>
                            <li>Tutorials</li>
                            <li>API</li>
                            <li>Contact</li>
                        </ol>
                    </div>
                </div>
            </section>
            <div class="social-media">
                <a href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.linkedin.com"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://www.github.com"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
            </div>
        </footer>
    </body>
</html