<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Alejandro Santini">
        <meta name="description" content="Trackgenix SA provides 
            software development services to other companies.">
        <meta name="keywords" content="Trackgenix, development, software, 
            desarrollo, software,">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="icon" href="../assets/logo.ico">
        <link rel="stylesheet" 
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
            integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" type="text/css" href="../styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="../styles/styles.css" />
        <link rel="stylesheet" type="text/css" href="../styles/header.css" />
        <link rel="stylesheet" type="text/css" href="../styles/sidebar.css" />
        <link rel="stylesheet" type="text/css" href="../styles/footer.css" />
        <link rel="stylesheet" type="text/css" href="../styles/login.css" />
        <script src="../javascript/contact.js"></script>
        <script src="../javascript/login.js"></script>
        <title>Trackgenix</title>
    </head>
    <body class="especify">
        <header>
            <h1>Trackgenix SA</h1>
        </header>
        <main>
            <div>
                <h2>Login</h2>
                <form>
                    <div>
                        <div>
                            <label>Email</label>
                            <input class="email" type="email" placeholder="example@gmail.com">  
                            <label>Password</label>
                            <input class="password" type="password" placeholder="*********">
                        </div>  
                        <div>
                            <input class="checkbox" type="checkbox">
                            <p>Remember me</p>
                        </div>
                    </div>
                    <div>
                        <input class="login-button-style" type="submit" value="Login">
                        <a>Forgot password?</a>
                    </div>
                </form>
            </div>
        </main>
        <aside>
            <nav>
                <form>
                    <div>
                        <input type="search" class="search" placeholder="Search">
                    </div>
                    <a href="login.html" class="login-button-style">Login</a>
                    <a href="sign-up.html" class="sign-up-button-style">Sign up</a>
                </form>
                <div>
                    <h4>Menu</h4>
                    <ul>
                        <li><a href="index.html">Homepage</a></li>
                        <li><a href="index.html#features">Features</a></li>
                        <li><a href="index.html#why-trackgenix">Why trackgenix</a></li>
                        <li><a href="index.html#contact-us">Contact us</a></li>
                    </ul>
                </div>
                <div class="get-in-touch">
                    <h4>Get in touch</h4>
                    <a href="https://www.gmail.com">mailinfo@trackgenix.com</a>
                    <p>123-456789</p>
                    <a  href="https://www.google.com.ar/maps/preview">
                        123 fake road #2000 Rosario, Argentina
                    </a>
                </div>
            </nav>
        </aside>
        <footer>
            <section>
                <h3>Trackgenix</h3>
                <div class="trackgenix-footer">
                    <div class="products">
                        <p>Products</p>
                        <ol>
                            <li>Features</li>
                            <li>Downloads</li>
                            <li>Integrations</li>
                            <li>Extras</li>
                        </ol>
                    </div>
                    <div class="company">
                        <p>Company</p>
                        <ol>
                            <li>About us</li>
                            <li>Clients</li>
                            <li>Resources</li>
                            <li>Blog</li>
                        </ol>
                    </div>
                    <div class="suport">
                        <p>Suport</p>
                        <ol>
                            <li>Help</li>
                            <li>Tutorials</li>
                            <li>API</li>
                            <li>Contact</li>
                        </ol>
                    </div>
                </div>
            </section>
            <div class="social-media">
                <a href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.linkedin.com"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://www.github.com"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
            </div>
        </footer>
    </body>
</html