body {
    font-size: 14.99px;
    color: #373867;
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
}

/*Containers*/
header {
    overflow: hidden;
    position: relative;
    height: 191px;
    margin-left: 303.54px;
}

aside {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 303.54px;
    height: 100%;
    background-color: #B1B2B6;
}

main {
    overflow: hidden;
    position: relative;
    margin-left: 303.54px;
}

footer {
    overflow: hidden;
    margin-left: 303.54px;
    background-color: #5F6085;
    color: #ffffff;
}

form.nav {
    text-align: center;
}

section.features {
    display: inline-block;
    text-align: justify;
    margin: 4% 7% 10% 7%;
}

section.contact-us {
    margin: 10% 7% 10% 7%;
    line-height: 30px;
}

div.what-is-trackgenix {
    display: inline-block;
    text-align: justify; 
    margin-left:7%;
    margin-right: 7%;
}

div.our-story {
    display: inline-block;
    text-align: justify;
    margin: 2% 7% 2% 7%;
}

div.what-is-trackgenix-text {
    display: inline-block;
    margin: 2% 2% 2% 0%;
    width: 45%;
}

div.our-story-text {
    display: inline-block;
    margin: 2% 0% 2% 4%;
    width: 45%;
}

div.why-trackgenix-1 {
    display: inline-block;
    margin: 4% 7% 2% 7%;
    padding-bottom: 3%;
    border-bottom: 1px solid #373867;
}

div.why-trackgenix-2 {
    display: inline-block;
    margin: 2% 7% 2% 7%;
    padding-bottom: 3%;
    border-bottom: 1px solid #373867;
}

div.why-trackgenix-3 {
    display: inline-block;
    margin: 2% 7% 2% 7%;
    padding-bottom: 3%;
    border-bottom: 1px solid #373867;
}

div.why-trackgenix-4 {
    display: inline-block;
    margin: 2% 7% 2% 7%;
    padding-bottom: 3%;
    border-bottom: 1px solid #373867;
}

div.why-trackgenix-1-text {
    display: inline-block;
    text-align: center;
    margin: 4% 2% 4% 5%;
    width: 45%;
}

div.why-trackgenix-2-text {
    display: inline-block;
    text-align: center;
    margin: 4% 5% 4% 2%;
    width: 45%;
}

div.why-trackgenix-3-text {
    display: inline-block;
    text-align: center;
    margin: 4% 2% 4% 5%;
    width: 45%;
}

div.why-trackgenix-4-text {
    display: inline-block;
    text-align: center;
    margin: 4% 5% 4% 2%;
    width: 45%;
}

div.menu {
    line-height: 20px;
    margin: 25% 7% 0% 7%;
}

div.get-in-touch {
    line-height: 20px;
    margin: 70% 7% 0% 7%;
}

div.trackgenix-footer {
    display: inline-block;
    margin: 2% 10% 2% 30%;
    width: 100%;
}

div.social-media {
    text-align: center;
}

div.products {
    display: inline-block;
    width: 25%;
}

div.company {
    display: inline-block;
    width: 25%;
}

div.suport {
    display: inline-block;
    width: 25%;
}

p.footer {
    font-weight: bold;
}

p.features-bold {
    display: inline-block;
    font-weight: bold;
}

/*H1, H2 styles*/

h1 {
    margin: 5% 7% 1% 7%;
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 45px; 
    border-bottom: 5px solid #373867; 
}

h2 {
    font-size: 30px;
    font-weight: bold;
}

ul.features {
    margin: 7px 0px 0px 7%;
}

h2.homepage {
    color: #49A37B;
    margin-bottom: 14.24px;

}

h2.features {
    margin-bottom: 3%;
    text-transform: uppercase;
    padding-bottom: 20px; 
    border-bottom: 5px solid #373867; 
}

h2.why-trackgenix {
    margin: 0% 7% 0% 7%;
    text-transform: uppercase;
    padding-bottom: 20px; 
    border-bottom: 5px solid #373867; 
}

h2.contact-us {
    display: block;
    margin-bottom: 1.5%;
    text-transform: uppercase; 
    padding-bottom: 20px; 
    border-bottom: 5px solid #373867;  
}

h3 {
    font-weight: bold;
}

h3.trackgenix {
    text-transform: uppercase;
    font-size: 30px;
    margin: 30px 0px 0px 40px;
}

h4.menu, h4.get-in-touch {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px 0px 8px 0px;
    padding-bottom: 8px;
    border-bottom: 3px solid #49a37ac9;
}

/*-----------Buttons----------*/

a {
    text-decoration: none;
}

button.our-story-style {
    display: inline-block;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    padding: 6px 8px;
    background-color: #AACE9B;
    color: #373867;
    border: none;
    border-radius: 5px;
}

button.why-trackgenix-style {
    display: inline-block;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    padding: 6px 8px;
    background-color: #AACE9B;
    color: #373867;
    border: none;
    border-radius: 5px;
}

input.search {
    display: inline-block;
    border: 0.60px solid #37386733;
    border-radius: 3px;
    color: #3738670a;
    padding: 10px 20px 10px 20px;
    margin: 8% 7% 7% 7%;
    font-size:18px;
    text-transform: capitalize;
}

input.log-in-button-style {
    display: inline-block;
    text-transform: uppercase;  
    text-decoration: none;
    border: none;
    border-radius: 11.24px;
    font-size:12px;
    padding: 12px 25px 12px 25px;
    margin-right: 3px;
    background-color: #49A37B;
    color: #ffffff;
}

input.sign-in-button-style {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    border-radius: 11.24px;
    font-size:12px;
    padding: 12px 25px 12px 25px;
    background-color: #56577C;
    color: #ffffff;
}

input {
    text-decoration: none;
}

input.contact-us {
    display: inline-block;
    border: 0.60px solid #37386733;
    border-radius: 3px;
    width: 30%;
    margin: 1px 0px 12px 0px;
    font-size: 15px;
    padding: 10px;
}

select.contact-us {
    border: 0.60px solid #37386733;
    border-radius: 3px;
    width: 30%;
    margin: 12px 0px 12px 0px;
    font-size: 15px;
    color: #757575;
    padding: 10px;
}

textarea.contact-us {
    font-family: 'Roboto', sans-serif;
    border: 0.60px solid #37386733;
    border-radius: 3px;
    width: 30%;
    margin: 12px 0px 12px 0px;
    font-size: 15px;
    padding: 10px;
}

input.send-message-button-style {
    display: inline-block;
    font-size:11.99px;
    padding: 8px 15px 8px 15px;
    background-color: #AACE9B;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: #58587E;
}

input.reset-button-style {
    display: inline-block;
    text-transform: ;
    font-size:11.99px;
    padding: 8px 15px 8px 15px;
    background-color: #DADADA;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: #58587E;
}

/*Images styles*/

img.what-is-trackgenix {
    display: inline-block;
    box-sizing: border-box;
    float: right;
    width: 51%;
    border-radius: 23px;
    border: 2px solid #3738676b; 
}

img.our-story {
    display: inline-block;
    box-sizing: border-box;
    float: left;
    width: 45%;
    border-radius: 23px;
    border: 2px solid #3738676b;  
}

img.why-trackgenix-1 {
    display: inline-block;
    box-sizing: border-box;
    float: left;
    width: 48%;
    border-radius: 23px;
    border: 2px solid #3738676b; 
}

img.why-trackgenix-2 {
    display: inline-block;
    box-sizing: border-box;
    float: right;
    width: 48%;
    border-radius: 23px;
    border: 2px solid #3738676b; 
}

img.why-trackgenix-3 {
    display: inline-block;
    box-sizing: border-box;
    float: left;
    width: 48%;
    border-radius: 23px;
    border: 2px solid #3738676b; 
}

img.why-trackgenix-4 {
    display: inline-block;
    box-sizing: border-box;
    float: right;
    width: 48%;
    border-radius: 23px;
    border: 2px solid #3738676b; 
}

.block {
    display: block;
}

a:visited {
    color: #373867;
}

a:link {
    color: #373867;
}

a.menu:hover, a.get-in-touch:hover {
    font-weight: bold;
}

a.menu:active, a.get-in-touch:active {
    font-weight: bold;
    color: #3738679a;
}

button.our-story-style:hover, button.why-trackgenix-style:hover, input.send-message-button-style:hover {
    background-color: #aace9bb7;
}

button.our-story-style:active, button.why-trackgenix-style:active, input.send-message-button-style:active {
    background-color: #aace9b67;
}

input.reset-button-style:hover {
    background-color: #37386756;
}

input.reset-button-style:active {
    background-color: #37386734;
}

input.log-in-button-style:hover {
    background-color: #49a37a80;
}

input.log-in-button-style:active {
    background-color: #49a37a3a;
}

input.sign-in-button-style:hover {
    background-color: #37386765;
}

input.sign-in-button-style:active {
    background-color: #37386727;
}

.search::placeholder {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 700;
} 