body {
    font-size: 20px;
    color: #373867;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}


/*Containers*/
header {
    overflow: hidden;
    position: relative;
    width: 1135.46px;
    height: 191px;
    left: 303.54px;
    top: 0px;
}

aside {
    overflow: hidden;
    position: fixed;
    width: 303.54px;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #B1B2B6;
}

main {
    overflow: hidden;
    position: relative;
    width: 1135.46px;
    height: 3033.89px;
    left: 303.54px;
    top: 0px;
}

footer {
    overflow: hidden;
    position: relative;
    width: 1135.46px;
    height: 321,53px;
    top: 0px;
    left: 303.54px;
    background-color: #5F6085;
}

div.what-is-trackgenix {
    position: absolute;
    margin: 0px 640.06px 2870.25px 65.45px;   
}

div.our-story {
    position: absolute;
    margin: 372.35px 82.44px 2589.16px 539.62px;
}


section.features {
    position: absolute;
    margin: 716.62px 62.46px 2078.3px 49.35px;
}

div.why-trackgenix-1 {
    position: absolute;
    margin: 1256.25px  191.87px 1434.74px 615.32px;
}

div.why-trackgenix-2 {
    position: absolute;
    margin: 1493.08px  647.09px 1197.9px 160.1px;
}

div.why-trackgenix-3 {
    position: absolute;
    margin: 1729.92px  191.87px 961.07px 615.32px;
}

div.why-trackgenix-4 {
    position: absolute;
    margin: 1966.75px  647.09px 724.23px 160.1px;
}

section.contact-us {
    position: absolute;
    margin: 2243.31px 62.46px 64.5px 49.35px;
}

/*H1, H2 styles*/
h1 {
    position: absolute;
    margin-top: 73,45px;
    margin-left: 62.46px;
    font-size: 80px;
    font-weight: bold;
}

h2 {
    font-size: 40px;
    font-weight: bold;
}

h2.why-trackgenix {
    position: absolute;
    margin: 1163.31px 62.46px 1629.37px 49.35px;
    text-transform: uppercase;
}

h2.homepage {
    color: #49A37B;
}

/*Images styles*/

img.what-is-trackgenix {
    position: absolute;
    width: 513.39px;
    height: 312.71px;
    margin: 11.72px 82.44px 2518.45px 539.62px;
    border-radius: 23px;
    border: 1px #373867;
    
}

img.our-story {
    position: absolute;
    margin: 373.68px 633.3px 2253.43px 67.45px;
    width: 434.71px;
    height: 215.78px;
    border-radius: 23px;
    border: 1px #373867;
    
}

img.why-trackgenix-1 {
    position: absolute;
    margin: 1245.75px  599.12px 1424.76px 124.12px;
    width: 412.21px;
    height: 172.38px;
    border-radius: 23px;
}

img.why-trackgenix-2 {
    position: absolute;
    margin: 1482.59px 149.9px 1187.92px 573.35px;
    width: 412.21px;
    height: 172.38px;
    border-radius: 23px;
}

img.why-trackgenix-3 {
    position: absolute;
    margin: 1719.42px  599.12px 951.09px 124.12px;
    width: 412.21px;
    height: 172.38px;
    border-radius: 23px;
}

img.why-trackgenix-4 {
    position: absolute;
    margin: 1956.26px 149.9px 714.25px 573.35px;
    width: 412.21px;
    height: 172.38px;
    border-radius: 23px;
}
