header.flex-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
}

h1.flex-item{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #373867; 
    font-size: 60px;
    font-weight: bold;
    width: 80%;
    margin-bottom: 28px;