aside {
    display: none;
    position: fixed;
    justify-content: center;
    left: 0px;
    top: 0px;
    width: 303px;
    height: 100%;
    background-color: #B1B2B6;
}

form {
    text-align: center;
}

nav div.flex-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    margin: 20% 7% 0% 7%;
    line-height: 20px;
}

nav div div h4 {
    margin: 0px 0px 8px 0px;
    padding-bottom: 8px;
    border-bottom: 3px solid #49a37ac9;
    text-transform: uppercase;
    font-weight: bold;
}

input.search {
    padding: 10px 20px 10px 20px;
    margin: 9% 0% 3% 0%;
    border: 0.60px solid #37386733;
    border-radius: 3px;
    font-size: 16px;
    color: #3738670a;
}

input.log-in-button-style {
    padding: 12px 25px 12px 25px;
    margin-right: 3px;
    border: none;
    border-radius: 11px;
    background-color: #49A37B;
    text-transform: uppercase;  
    text-decoration: none;
    font-size:12px;
    color: #ffffff;
}

input.sign-in-button-style {
    padding: 12px 25px 12px 25px;
    border: none;
    border-radius: 11px;
    background-color: #56577C;
    font-size:12px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}