body {
    display: flex;
    flex-flow: row wrap;
    font-size: 15px;
    color: #373867;
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
    justify-content: center;
}

h2 {
    font-size: 30px;
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

a {
    text-decoration: none;
}

input {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

label {
    display: flex;
    font-weight: bold;
    align-items: flex-start;
}

a:visited {
    color: #373867;
}

a:link {
    color: #373867;
}

a.menu:hover, a.get-in-touch:hover {
    font-weight: bold;
}

a.menu:active, a.get-in-touch:active {
    font-weight: bold;
    color: #3738679a;
}

button.our-story-style:hover, button.why-trackgenix-style:hover, input.send-message-button-style:hover {
    background-color: #aace9b86;
}

button.our-story-style:active, button.why-trackgenix-style:active, input.send-message-button-style:active {
    background-color: #aace9b67;
}

input.reset-button-style:hover {
    background-color: #37386756;
}

input.reset-button-style:active {
    background-color: #37386734;
}

input.log-in-button-style:hover {
    background-color: #49a37a80;
}

input.log-in-button-style:active {
    background-color: #49a37a3a;
}

input.sign-in-button-style:hover {
    background-color: #37386765;
}

input.sign-in-button-style:active {
    background-color: #37386727;
}

@media only screen and (min-width: 768px) {
    /*for tablet*/
    img.why-trackgenix-even {
        order: 1;
    }

    img.flex-our-story {
        order: -1;
    }

    section input.contact-us, section select.contact-us, section textarea.contact-us {
        min-width: 400px;
    }
} 

@media only screen and (min-width: 1024px) {
    /*for desktop*/
    body.especify {
        margin-left: 303px;
    }

    body header, body footer, body main {
        overflow: hidden;
    }

    main section.flex-item:nth-child(4), header h1.flex-item {
        justify-content: left;
        text-align: justify;
    }

    section h2.features, section h2.why-trackgenix, section h2.contact-us, header h1.flex-item {
        text-align: justify;
        padding-left: 10px;
    }

    div.flex-what-is-trackgenix-text, div.flex-our-story-text {
        text-align: justify;
    }

    body aside {
        display: flex;
    }

    footer h3.trackgenix {
        display: flex;
    }

    div.products, div.company, div.suport {
        width: 20%;
    }

    footer div.trackgenix-footer {
        padding-left: 18%;
    }
}   